<!DOCTYPE html>
<html>
  <head>
    <title>impactWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  </head>
  <body>
    <div class="top-bar">
      <ul data-dropdown-menu="" class="dropdown menu text-center">
        <div class="top-bar-left">
          <li><a href="/"><strong>impact</strong>Watch</a></li>
        </div>
        <div class="top-bar-right">
          <li><a id="form-toggle" href="">search</a></li>
          <li><a href="/database">database</a></li>
          <!-- <li><a href="/login">login</a></li>
          <li><a href="/register">register</a></li> -->
        </div>
      </ul>
    </div>

  <br>

  <div id="search-forms" class="row">

    <form id="id-form">
      <div class="form-group  large-2 columns">
        <input type="text" class="form-control" name="id" value="" placeholder="Search by ID" required>
      </div>
    </form>

    <form id="name-form">
      <div class="form-group  large-2 columns">
        <input type="text" class="form-control" name="name" value="" placeholder="Search by Name" required>
      </div>
    </form>

    <form id="class-form">
      <div class="form-group  large-2 columns">
        <input type="text" class="form-control" name="recclass" value="" placeholder="Search by Class" required>
      </div>
    </form>

    <form id="mass-form">
      <div class="form-group  large-2 columns">
        <input type="text" class="form-control" name="mass" value="" placeholder="Search by Mass(g)" required>
      </div>
    </form>

    <form id="year-form">
      <div class="form-group  large-2 columns">
        <input type="text" class="form-control" name="year" value="" placeholder="Search by Year" required>
      </div>
    </form>

    <div class="form-group  large-2 columns">
      <a id = "export-csv" class="csv-link" href=''>Export CSV</a>
    </div>
  </div>

    <br>
    <div id="meteor-titles" class="row">
      <div class="large-2 columns">
        <h4>ID</h4>
      </div>
      <div class="large-2 columns">
        <h4>Name</h4>
      </div>
      <div class="large-2 small-2 columns">
        <h4>Class</h4>
      </div>
      <div class="large-2 small-2 columns">
        <h4>Mass (g)</h4>
      </div>
      <div class="large-2 small-2 columns">
        <h4>Year</h4>
      </div>
      <div class="large-2 small-2 columns">
        <h4>Coordinates</h4>
      </div>
    </div>

    <hr>
    <section id="meteor-section">
      <div id='meteors' class="grid">
        <script id='meteor-template' type='text/x-handlebars-template'>
          <div class="row">
          <div class="meteor-item">
            <div class="large-2 small-2 columns">
              <p>{{id}}</p>
            </div>
            <div class="large-2 small-2 columns">
              <p>{{name}}</p>
            </div>
            <div class="large-2 small-2 columns">
              <p>{{recclass}}</p>
            </div>
            <div class="large-2 small-2 columns">
              <p>{{mass}}</p>
            </div>
            <div class="large-2 small-2 columns">
              <p>{{year}}</p>
            </div>
            <div class="large-2 small-2 columns">
              <p>({{geolocation.coordinates}})</p>
            </div>
          </div>
        </div>

          <hr>
        </script>
      </div>
    </section>

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/what-input.js"></script>
    <script src="/javascripts/vendor/foundation.js"></script>
    <script src="/javascripts/database.js"></script>
  </body>
</html>
