<!DOCTYPE html>
<html>
  <head>
    <title>impactWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="top-bar">
      <ul data-dropdown-menu="" class="dropdown menu text-center">
        <div class="top-bar-left">
          <li><a href="/"><strong>impact</strong>Watch</a></li>
        </div>
        <div class="top-bar-right">
          <li><a id="form-toggle" href="">search</a></li>
          <li><a href="/database">database</a></li>
          <!-- <li><a href="/login">login</a></li>
          <li><a href="/register">register</a></li> -->
        </div>
      </ul>
    </div>

    <div id="simulation-forms" class="row">

      <form id="id-form">
        <div class="form-group  large-2 small-2 columns">
          <input type="text" class="form-control" name="id" value="" placeholder="Search by ID" required>
        </div>
      </form>

      <form id="name-form">
        <div class="form-group  large-2 small-2 columns">
          <input type="text" class="form-control" name="name" value="" placeholder="Search by Name" required>
        </div>
      </form>

      <form id="class-form">
        <div class="form-group  large-2 small-2 columns">
          <input type="text" class="form-control" name="recclass" value="" placeholder="Search by Class" required>
        </div>
      </form>

      <form id="mass-form">
        <div class="form-group  large-2 small-2 columns">
          <input type="text" class="form-control" name="mass" value="" placeholder="Search by Mass(g)" required>
        </div>
      </form>

      <form id="year-form">
        <div class="form-group  large-2 small-2 columns">
          <input type="text" class="form-control" name="year" value="" placeholder="Search by Year" required>
        </div>
      </form>

      <div class="form-group  large-2 small-2 columns">
        <div class="large-8 small-8 columns">
          <a id = "export-csv" class="csv-link" href=''>Export CSV</a>
        </div>
        <div class="large-1 small-1 columns">
          <a id ="close-btn" href=''>⥣</a>
        </div>
      </div>


    </div>

    <!-- <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

    <div id="welcome-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Awesome. I have it.</h2>
      <p class="lead">Your couch.  It is mine.</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div> -->


    <div id="webgl"></div>

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/what-input.js"></script>
    <script src="/javascripts/vendor/foundation.js"></script>
    <script src="/javascripts/vendor/three.min.js"></script>
    <script src="/javascripts/vendor/canvasrenderer.js"></script>
    <script src="/javascripts/vendor/projector.js"></script>

    <script src="/javascripts/simulation/Detector.js"></script>
    <script src="/javascripts/simulation/TrackballControls.js"></script>
    <script src="/javascripts/simulation/earth.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
