<!DOCTYPE html>
<html>
  <head>
    <title>impactWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="top-bar">
      <ul data-dropdown-menu="" class="dropdown menu text-center">
        <div class="top-bar-left">
          <li><a href="/"><strong>impact</strong>Watch</a></li>
        </div>
        <div class="top-bar-right">
          <li><a href="/database">database</a></li>
          <li><a href="/login">login</a></li>
          <li><a href="/register">register</a></li>
        </div>
      </ul>
    </div>


  <div class="row">
    <div class="large-12 small-12 columns">
      <div class="large-4 large-centered small-4 small-centered columns">
        <center><div class="card">
        <h1>Sign up today!</h1>
        <p class="lead">Say something worthwhile here.</p><br/>
        <form role="form" action="/register" method="post" style="max-width: 300px;">

          <div class="form-group">
            <input type="text" name="username" placeholder="Enter Username" class="form-control"/>
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control"/>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
          <a href="/"><button type="button" class="btn btn-primary">Cancel</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/what-input.js"></script>
    <script src="/javascripts/vendor/foundation.js"></script>
  </body>
</html>
